{% load static %}
<nav>
    <ul>
        <li id="Home"> <img src="{% static 'img/Icones/Nav/Home.png' %}" alt="Início"> <p>Início</p> </li>
        <li> <img src="{% static 'img/Icones/Nav/Explorer.png' %}" alt="Explorar"> <p>Explorar</p> </li>
        <li> <img src="{% static 'img/Icones/Nav/Message.png' %}" alt="Mensagens"> <p>Mensagens</p> </li>
        <li> <img src="{% static 'img/Icones/Nav/Create.png' %}" alt="Criar"> <p>Criar</p> </li>
        <li> <img src="{% static 'img/Icones/Nav/Perfil.png' %}" alt="Perfil"> <p>Perfil</p> </li>
        <li> <img src="{% static 'img/Icones/Nav/Logo.png' %}" alt="Serviços"> <p>Serviços</p> </li>
        <li id="Settings"> 
            <div><img src="{% static 'img/Icones/Nav/Settings.png' %}" alt="Configurações"> <p>Configurações</p></div> 
        </li>
    </ul>
</nav>