<nav id="SideBar_Message">
    <div id="Usuários">

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

        <section id="Usuário">
            <img src="{{  user.image_perfil.url }}" alt="Perfil image">
            <section id="user_info">
                <h2>Usuário</h2>
                <p>Lorem lorem lorem lorem...</p>
            </section>
        </section>

    </div>

    <div id="barra_pesquisa">
        <input type="text" id="txt-busca" placeholder="Pesquisar...">
    </div>
</nav>