{% load static %}
<nav id="SideBar_Message">
    <div id="Usuários">
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
        {% include 'Componentes/UserMessageSideBar.html' %}
    </div>

    <div id="barra_pesquisa">
        <input type="text" id="txt-busca" placeholder="Pesquisar...">
    </div>
</nav>