{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/Services/Services_A_MinhaDietaPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %} <!-- Navegação Lateral -->
    
    <main> <!-- Conteúdo Principal -->
        {% include 'Componentes/HeaderServices_A.html' %}

        <section>


            <div id="gasto-diario" class="gastos">
                <div id="editar">
                    
                    <h2>Gasto Diário</h2>
                    
                    <div>
                        <img src="{% static 'img/Icones/Outros/Pincel_Editar_Color_CDC1C1.png' %}" alt="">
                        <h2>Editar</h2>
                    </div>
                </div>
                <div class="box">
                    <div class="coluna">
                        <div class="consumiu">
                            <h3>Você consumiu:</h3>
                            <P>0 Kcal</P>
                        </div>
                        <div class="carboidrato">
                            <h3>Carboidrato:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                        <div class="proteina">
                            <h3>Proteína:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                        <div class="gordura">
                            <h3>Gordura:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                    </div> <!-- Coluna 1 -->
                    <div class="coluna">
                        
                        <div class="meta">
                            <h3>Meta diária:</h3>
                            <p>0 Kcal</p>
                        </div>
                        <div class="fibra">
                            <h3>Fibra:</h3>
                            <p>0g   </p>
                        </div>
                        <div class="sodio">
                            <h3>Sódio:</h3>
                            <p>0g</p>
                        </div>
                    </div>
                </div> <!-- box -->
                
            </div>

            <div id="gasto-semanal" class="gastos">
                <h2>Gasto Semanal</h2>
                <div class="box">
                    <div class="coluna">
                        <div class="consumiu">
                            <h3>Você consumiu:</h3>
                            <P>0 Kcal</P>
                        </div>
                        <div class="carboidrato">
                            <h3>Carboidrato:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                        <div class="proteina">
                            <h3>Proteína:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                        <div class="gordura">
                            <h3>Gordura:</h3>
                            <p>0g / 0 Kcal</p>
                        </div>
                    </div> <!-- Coluna 1 -->
                    <div class="coluna">
                        
                        <div class="fibra">
                            <h3>Fibra:</h3>
                            <p>0g   </p>
                        </div>
                        <div class="sodio">
                            <h3>Sódio:</h3>
                            <p>0g</p>
                        </div>
                    </div>
                </div> <!-- box --> 
            </div>
        </section>
    </main>
</body>
</html>