{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/Services/Services_T_MinhasFichasPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %} <!-- Navegação Lateral -->
    
    <main> <!-- Conteúdo Principal -->
        {% include 'Componentes/HeaderServices_T.html' %}

        <section id="fichas">

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p class="text_treino">TREINO</p>
                    <div>
                        <p>TREINO ABC</p> 
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>
            
            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div> 

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>
                
            <div class="ficha">
                <div class="cont-in-ficha">
                    <p>TREINO</p>
                    <div>
                        <p>TREINO ABC</p>
                    </div>
                </div>
            </div>
            

        </section> <!-- fichas -->

        <section id="criar_ficha">     
            <button id="button_criar">CRIAR NOVA FICHA</button>
        </section>
    </main>   
</body>
</html>