{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/Services/Services_A_AlimentosPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %} <!-- Navegação Lateral -->
    
    <main> <!-- Conteúdo Principal -->
        {% include 'Componentes/HeaderServices_A.html' %}

        <section>
            <div id="busca">
                <input type="text" id="txt-busca" placeholder="Pesquisar Exercício"/>
            </div> <!-- Barra de pesquisa -->

            <div id="alimentos">

                <!-- Alimentos -->

                <div class="alimento">
                    <div class="txt-alimento"><h3>Arroz Branco Cozido</h3></div>
                    <div>
                        <div class="porcao"><p>0g</p></div>
                        <div class="caloria"><p>0 Kcal</p></div>
                        <div class="carbo"><p>0g Carb</p></div>
                        <div class="prote"><p>0g Prot</p></div>
                        <div class="gordura"><p>0g Gord</p></div>
                        <div class="fibra"><p>0g Fib</p></div>
                        <div class="sodio"> <p>0g Sód</p></div>
                    </div>
                </div>
               
                <div class="alimento">
                    <div class="txt-alimento"><h3>Arroz Branco Cozido</h3></div>
                    <div>
                        <div class="porcao"><p>0g</p></div>
                        <div class="caloria"><p>0 Kcal</p></div>
                        <div class="carbo"><p>0g Carb</p></div>
                        <div class="prote"><p>0g Prot</p></div>
                        <div class="gordura"><p>0g Gord</p></div>
                        <div class="fibra"><p>0g Fib</p></div>
                        <div class="sodio"> <p>0g Sód</p></div>
                    </div>
                </div>
               
                <div class="alimento">
                    <div class="txt-alimento"><h3>Arroz Branco Cozido</h3></div>
                    <div>
                        <div class="porcao"><p>0g</p></div>
                        <div class="caloria"><p>0 Kcal</p></div>
                        <div class="carbo"><p>0g Carb</p></div>
                        <div class="prote"><p>0g Prot</p></div>
                        <div class="gordura"><p>0g Gord</p></div>
                        <div class="fibra"><p>0g Fib</p></div>
                        <div class="sodio"> <p>0g Sód</p></div>
                    </div>
                </div>
               
                <div class="alimento">
                    <div class="txt-alimento"><h3>Arroz Branco Cozido</h3></div>
                    <div>
                        <div class="porcao"><p>0g</p></div>
                        <div class="caloria"><p>0 Kcal</p></div>
                        <div class="carbo"><p>0g Carb</p></div>
                        <div class="prote"><p>0g Prot</p></div>
                        <div class="gordura"><p>0g Gord</p></div>
                        <div class="fibra"><p>0g Fib</p></div>
                        <div class="sodio"> <p>0g Sód</p></div>
                    </div>
                </div>
               
                <div class="alimento">
                    <div class="txt-alimento"><h3>Arroz Branco Cozido</h3></div>
                    <div>
                        <div class="porcao"><p>0g</p></div>
                        <div class="caloria"><p>0 Kcal</p></div>
                        <div class="carbo"><p>0g Carb</p></div>
                        <div class="prote"><p>0g Prot</p></div>
                        <div class="gordura"><p>0g Gord</p></div>
                        <div class="fibra"><p>0g Fib</p></div>
                        <div class="sodio"> <p>0g Sód</p></div>
                    </div>
                </div>
               
                </div>

                <!-- Alimentos -->

            </div>
        </section>
    </main>
</body>
</html>