{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/Services/Services_T_TreinoPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %} <!-- Navegação Lateral -->
    
    <main> <!-- Conteúdo Principal -->
        {% include 'Componentes/HeaderServices_T.html' %}

        <section>
            <h2>Treinos realizados na semana</h2>

            <div id="dias">

            
                <div class="treino_check">
                    <label for="domingo">Dom</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="segunda">Seg</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="terca">Ter</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="quarta">Qua</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="quinta">Qui</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="sexta">Sex</label>
                    <input type="checkbox">
                </div>

                <div class="treino_check">
                    <label for="sabado">Sab</label>
                    <input type="checkbox">
                </div>
                
                
            </div> <!-- dias de treino -->
            <input id="butao" type="button" value="INICIAR TREINO">
            
        </section>
    </main>
</body>
</html>