{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/Services/Services_P_ProfissionaisPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %} <!-- Navegação Lateral -->
    
    <main> <!-- Conteúdo Principal -->
        {% include 'Componentes/HeaderServices.html' %}

        <section>

            <div id="pesquisa">
                <div id="busca">
                    <input type="text" id="txt-busca" placeholder="Pesquisar Exercício"/>
                    <img src="{% static 'img/Icones/Outros/Filtro.png' %}" alt="">
                </div> 

                <button>Cadastrar-se como <Br> profissional</Br></button>
            </div> <!-- barra superior -->
            

            <div id="profissionais"> <!-- cards abaixo -->


               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div>
               <div class="card-prof">
                    <div class="txt-card">
                        <h3>Nome do Profissional</h3>
                        <p>Profissão</p>
                    </div>
                </div> 

            </div> <!-- profissionais -->
        </section>
    </main>
</body>
</html>