@import url('/static/css/User/styleUser.css');

.perfil{
    margin: 10px;
    border: solid 1px black;
    border-radius: 15px;
    .banner{
        background-color: rgb(156, 245, 156);
    }
    .perfil1{
        margin: 30px;
        display: flex;
        justify-content: space-between;
    }
    .perfil2{
        margin: 30px;
        section{
            display: flex;
        }
    }
    .seguidores{
        display: flex;
        justify-content: space-between;
        margin: 20px;
            section{
                display: flex;
                gap: 15px;
            }
    }
}

.perfil2{
    display: flex;
    justify-content: space-evenly;
}
