@import url('/static/css/User/styleUser.css');


.perfil_todo{
    margin: 20px;
}

.perfil{
    margin: 10px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
}
    
#perfil_info {
    display: flex;
    flex-direction: column;
    padding: 1.5% 2.5% 1.5% 2.5%;
    gap: 40px;
      
    #perfil1{
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        #banner{
            width: 100%;
            height: 257px;
            background-color: rgb(76, 192, 95);
        }

        #image_perfil {
            position: absolute;
            display: flex;
            top: 170px;
            left: calc(25% + 30px);
            
            #Imagem_PerfilInfo {
                width: 213px;
                aspect-ratio: 1 / 1;
                border: solid 1px black;
                border-radius: 50%;
                object-fit: cover;
            }

            div {
                display: none;
                background-color: transparent;
                position: relative;
                right: 40px;
                top: 20px;
                height: 24px;
                aspect-ratio: 1 / 1;

                label {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                
                #edit_image_perfil {
                    display: none;
                }
            }
        }

        section {
            display: flex;
            justify-content: space-between;
            margin-left: 235px;

            div {
                display: flex;
                flex-direction: column;

            }
            #botoes_controle {
                flex-direction: row;
                gap: 15px;

                .botoes_controle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 17px;
                    font-size: 16px;
                    background-color: #dbdbdb;
                    width: 105px;
                    padding: 10px;
                    cursor: pointer;
                }

                #cancelar_editar{
                    display: none;
                }

                #salvar {
                    display: none;
                    background-color: var(--Cor_3);
                    color: white;
                }
            }
        }
    }

    #perfil2{
        margin-left: 2.35578231292517%;
        margin-right: 10%;
        width: 85%;

        textarea {
            
            width: 100%;
            color: black;
            font-size: 16px;
            resize: none;
            border: none;
            outline: none;
            overflow: hidden;
            background-color: transparent;
        }
    }

    #seguidores{
        display: flex;
        justify-content: space-between;

        section{
            font-size: 20px;
            display: flex;
            gap: 15px;
        }
    }
}

#perfil_posts{
    width: auto;

    #type_posts{
        border: solid 0 black;
        border-bottom-width: 1px;
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        padding: 12px;
            .topicos{
                flex: 1;
                text-align: center;
                padding: 10px;
                border-right: 1px solid black;
            }
            .topicos:last-child {
                border-right: none;
            }
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
        gap: 30px;
        margin: 40px;
        overflow: hidden;
        .post{
            padding: 60px;
            width: 110px;
            height: 150px;
            background-color: rgb(207, 206, 206);
        }
    }
}

@media (max-width: 1015px) {
    #perfil_info {
        #perfil1 {
            #image_perfil {
                left: calc(4% + 30px);
            }
        }
    }
}