@charset "UTF-8";

:root {
    --Cor_1: #1A1A1A;
    --Cor_2: #0E8F15;
    --Cor_3: #29C31B;
    --Cor_4: #40D232;
    --Cor_5: #5ED653;
}

* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;

    nav {
        position: fixed;
        display: flex;
        background-color: var(--Cor_1);
        width: 290px;
        height: 100%;
        box-shadow: 2px 0px 10px 0px;
    
        ul {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
    
            li {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                list-style-type: none;
    
                img {
                    width: 30px;
                }
    
                p {
                    align-self: center;
                    color: white;
                    margin-left: 14px;
                    font-size: 20px;
    
                }
            }

            #Settings {
                position: relative;
                bottom: 20px;
                align-items: flex-end;
                flex: 5 1 auto;

                div {
                    display: flex; 
                    justify-content: center;
                    
                    p {
                        align-self: center;
                    }
                }

                
            }
        }
    
    }
}
