@charset "UTF-8";

:root {
    --Cor_1: #1A1A1A;
    --Cor_2: #0E8F15;
    --Cor_3: #29C31B;
    --Cor_4: #40D232;
    --Cor_5: #5ED653;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/img/Fundos/Tela_Cadastro&Login/Fundo_Abacaxi.jpg); 
    background-size: 100%; 
    background-repeat: no-repeat;
    height: 100vh; 
}

main {
    display: flex;
    flex-direction: column;
    background-color: #00000066;
    width: 604px;
    height: 561px;
    border: solid 0;
    border-radius: 10px;
    
    img {
        position: absolute;
        top: 0px;
        width: 120px;
        align-self: center;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        #Login_e_Cadastro {
            display: flex;
            align-self: center;
            background-color: white;
            margin-top: 15px;
            width: 370px;
            height: 64px;
            border: solid 2px black;
            border-radius: 50px;

            .Botões_Cadastro_e_Login {
                display: flex;
                
                align-items: center;
                justify-content: center;
                width: 185px;
                height: 100%;
                border: solid 0;
                border-radius: 50px;
                font-size: 1.5em;
                font-weight: bold;
                cursor: pointer;
            }
            
            #Cadastrar {
                align-self: flex-start;
                background-color: var(--Cor_3);
                color: white;
            }

            #Entrar {
                align-self: flex-end;
                color: black;
                background-color: white;
            }
            
        }

        .Forms {
            display: flex;
            flex-direction: row;   
            justify-content: center;
            margin-top: 10px; 
            flex-wrap: wrap;
            align-self: center;
            height: 411px;

            .input {
                display: flex;
                flex-direction: column;
                align-items: center;  
                flex: 1 1 auto;

                input {
                    margin-top: 25px;
                    background-color: white;
                    width: 421px;
                    height: 40px;
                    border: solid black 1px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    padding-left: 7%;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: 3% center;
                    font-size: 20px;
                    color: black;
                    
                    input::placeholder {
                        position: absolute;
                        transform: translateY(-50%);
                        top: 50%;
                        left: 7%;
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 20px;
                        font-weight: bold;
                        
                    }

                }

                .name {
                    background-image: url('/static/img/Icones/Cadastro&Login/IconUser.png');
                }
    
                .email {
                    background-image: url('/static/img/Icones/Cadastro&Login/IconEmail.png');
                }
    
                .password {
                    background-image: url('/static/img/Icones/Cadastro&Login/IconSenha.png');
                }
    
                .confirm_password {
                    background-image: url('/static/img/Icones/Cadastro&Login/IconSenha.png');
                }
                
                
            }

            .button {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                flex: 3 3 auto;
    
                .submit {
                    background-color: #10AA01;
                    color: white;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                    width: 222px;
                    height: 55px;
                    border: solid black 1px;
                    border-radius: 30px;
                    margin-bottom: 30px;
                    cursor: pointer;
                }
            }
        }

        #Form_Cadastro {
            display: flex;
        }

        #Form_Login {
            display: none;
        }
    }
}
