{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/PerfilPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %}

    <main>
        <div class="perfil_todo">
            <div class="perfil" id="perfil_info">
                <section id="perfil1">
                    <div id="banner"></div>
                    <img src="{{  user.image_perfil.url }}" alt="Perfil image">
                    <section>
                        <div>
                            <h2>Nome</h2>
                            <p>@nome</p>
                        </div>
                        <p id="editar_perfil">Editar perfil</p>
                    </section>
                </section>
                <section id="perfil2">
                    <p>Sou apaixonado por treino e acredito que cada repetição é um passo rumo ao melhor de mim. Meu objetivo é motivar, compartilhar aprendizados e inspirar outras pessoas a se dedicarem à busca por saúde, força e bem-estar.</p>
                    <p>🏋️ Hobby: Levantar pesos, ajustar técnicas e aprender mais sobre o universo fitness.</p>
                </section>
                <section id="seguidores">
                    <section>
                        <p>0 Seguidores</p>
                        <p>0 Seguindo</p>
                    </section>
                        <p>Tipo de conta</p>
                </section>
            </div>

            <div class="perfil" id="perfil_posts">

                <section id="type_posts">

                    <div class="topicos"><p id="postagens">Postagens</p></div>
                    <div class="topicos"><p id="curtidas">Curtidas</p></div>
                    <div class="topicos"><p>Salvos</p></div>
                    
                </section>

                <div class="posts">
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>