{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/PerfilPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %}

    <main>
        <div class="perfil_todo">
            <div class="perfil" id="perfil_info">
                <section id="perfil1">
                    <div id="banner"></div>
                    <div id="image_perfil">
                        <img id="Imagem_PerfilInfo" src="{{ user.Profile.image_perfil.url }}" alt="Perfil image">
                        <div id="input_file">
                            <label for="edit_image_perfil"><img src="{% static 'img/Icones/Outros/Pincel_Editar.png' %}" alt="Pincel_Editar"></label>
                            <input type="file" id="edit_image_perfil" name="edit_image_perfil" accept="image/*">
                        </div>
                    </div>
                    <section>
                        <div>
                            <h2>Nome</h2>
                            <p>@nome</p>
                        </div>
                        <div id="botoes_controle">
                            <button id="cancelar_editar" class="botoes_controle">Cancelar</button>
                            <button id="salvar" class="botoes_controle">Salvar</button>
                            <button id="editar" class="botoes_controle">Editar perfil</button>
                        </div>
                    </section>
                </section>
                <section id="perfil2">
                    <textarea name="description" id="description" rows="1" oninput="ajustHeight(this)" maxlength="600" disabled>{{user.Profile.description}}</textarea>

                    <script>
                        function ajustHeight(textarea) {   
                            textarea.style.height = 'auto'
                            textarea.style.height = (textarea.scrollHeight)+"px"
                        }
                    </script>
                </section>
                <section id="seguidores">
                    <section>
                        <p>{{followers}} Seguidores</p>
                        <p>{{following}} Seguindo</p>
                    </section>
                        <p>{{user.Profile.type_account}}</p>
                </section>
                <script src="{% static 'js/User/PerfilEditar.js' %}"></script>
            </div>

            <div class="perfil" id="perfil_posts">

                <section id="type_posts">

                    <div class="topicos"><p id="postagens">Postagens</p></div>
                    <div class="topicos"><p id="curtidas">Curtidas</p></div>
                    <div class="topicos"><p>Salvos</p></div>
                    
                </section>

                <div class="posts">
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                    <section class="post"></section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>