{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/User/PerfilPage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Logo_Icone.ico' %}" type="image/x-icon">
    <title>TriboFit</title>
</head>
<body>
    {% include 'Componentes/NavUser.html' %}

    <main>
        <div class="perfil">
            <div class="banner">
                AAAAAAAAAAAAAAAAAA
            </div>
            <section class="perfil1">
                <section>
                    <h1>Nome</h1>
                    <h2>@nome</h2>
                </section>
                    <p>Editar perfil</p>
            </section>
            <section class="perfil2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, molestias. Ex optio accusantium accusamus, voluptates eos aliquid! Veritatis nostrum rerum quas sed molestias. Impedit numquam deserunt enim harum, omnis vitae.</p>
            </section>
            <section class="seguidores">
                <section>
                    <p>0 Seguidores</p>
                    <p>0 Seguindo</p>
                </section>
                    <p>Tipo de conta</p>
            </section>
            </section>
        </div>

        <div class="perfil">
            <section class="perfil2">
            <p>Postagens</p>
            <p>Curtidas</p>
            <p>Salvos</p>
            </section>
        </div>
    </main>
</body>
</html>